.main {
    &__button {
        width: 220px;
        height: 52px;
        padding: 14px 10px;
        background: $bg-color-dark;
        filter: brightness(1.1);
        font-size: 18px;
        color: $font-color-white;
        cursor: pointer;
        border: 2px solid $border-color-dark;
    }
}