.noScroll {
    overflow: hidden;
}

.ios-pwa-overlay {
    left: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s ease-in;
    width: 100vw;
    z-index: 1000;
    background: $overlay-color-dark;
    color: $font-color-dark;

    &.visible {
        opacity: 1;
        display: block;
    }

    &.hidden {
        pointer-events: none;
        touch-action: none;
    }
}

.ios-pwa-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    bottom: 0;
    color: black;
    left: 0;
    margin: 0 8px 10px;
    overflow: hidden;
    position: fixed;
    transform: translateY(calc(100% + 10px));
    transition: transform 0.4s cubic-bezier(0.4, 0.24, 0.3, 1);
    width: calc(100vw - 16px);
    z-index: 1000;
    background: $bg-color-dark;
    filter: brightness(1.1);

    &.visible {
        transform: translateY(0);
        display: block;
    }

    &.hidden {
        pointer-events: none;
        touch-action: none;
    }


}

.ios-pwa-header {
    align-items: center;
    border-bottom: 1px solid $border-color-legacy;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 0.5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 13px 16px;
    border-color: $border-color-dark;

    &-title {
        color: $font-color-dark;
        font-family: $font-family;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.125;
        margin: 0;
        padding: 0;
    }

    &-cancel {
        color: $blue-color-dark;
        font-size: 16px;
        font-family: $font-family;
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        z-index: 9999;
    }
}

.ios-pwa-body {
    display: flex;
    width: 100%;

    &-description {
        border-bottom: 1px solid $border-color-legacy;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 0.5px;
        border-color: $border-color-dark;
        color: inherit;
        margin: 0 16px;
        padding: 16px;
        width: 100%;
    }
}

.ios-pwa-text {
    color: $font-color-dark;
    font-family: $font-family;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    border-color: $font-color-dark;

    &-bold {
        font-weight: 600;
    }
}

.ios-pwa-instruction {
    color: inherit;
    margin: 0 16px;
    padding: 16px;

    &-step {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &-share-icon,
    &-home-icon {
        flex: 0 0 auto;
        height: 30px;
        margin-right: 32px;
        width: 25px;
    }

    &-home-icon {
        color: $white-color-dark;
        fill: $white-color-dark;

    }

    &-share-icon {
        color: $blue-color-dark;
        fill: $blue-color-dark;
    }
}