$font-family: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;

$overlay-color-dark: rgba(10, 10, 10, 0.5);

$bg-color-main: rgba(68, 67, 67, 0.8);
$bg-color-dark: rgba(65, 65, 65, 0.7);


$border-color-legacy: rgba(0, 0, 0, 0.1);
$border-color-dark: rgba(140, 140, 140, 0.7);


$font-color-white: rgba(255, 255, 255, 1);

$font-color-dark: rgba(235, 235, 245, 0.6);

$blue-color-dark: rgba(9, 132, 255, 1);

$white-color-dark: rgba(255, 255, 255, 1);